<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>
        {% block title %}VibeCall{% endblock %}
    </title>

    <link rel="stylesheet" href="/vibecall/static/css/style.css">
    {% block extra_head %}{% endblock %}
</head>

<body>
    <header class="navbar">
        <div class="logo">VibeCall</div>
        <nav class="nav-links" id="navLinks">
            <a href="/auth/login">Login</a>
            <a href="/auth/register">Sign Up</a>
        </nav>
        <div class="hamburger" id="hamburger">&#9776;</div>
    </header>

    {% block content %}{% endblock %}

    <footer>
        <p>&copy; 2024 VibeCall. All rights reserved.</p>
    </footer>

    <script>
        document.getElementById('hamburger').addEventListener('click', () => {
            document.getElementById('navLinks').classList.toggle('active');
        });
    </script>
    {% block extra_scripts %}{% endblock %}
</body>

</html>
